.CommerceConfirmCopy { position: 42px 102px 0px; width: 676px; height: 402px; overflow: squish scroll; font-size: 22px; color: #e6e0cc; white-space: normal; }
.CommerceConfirmStatus { position: 42px 515px 0px; width: 676px; height: 64px; font-size: 20px; color: #e5bd70; white-space: normal; }
.CommerceConfirmBuy { position: 415px 606px 0px; width: 260px; height: 64px; }
.CommerceConfirmBack { position: 85px 606px 0px; width: 260px; height: 64px; }
